body {
  padding: 50px;
  font: 20px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
  width: 100%;
  background-image: url("../assets/memory-board.jpg");
  color: white;
}

input,
textarea,
button {
  font: inherit;
}
