
.player-score {
  margin-left: 30px;
}

.player-toggle {
  margin-right: -19px;
}

.matched-pair-list,
.matched-pair-list li {
  font-size: 20px;
  list-style: none;
  margin-left: 20px;
}

.black-card-label-border {
  text-shadow: 0 0 4px black;
}

.red-card-label-border {
  text-shadow: 0 0 4px red;
}

.black-card-label-border .suit-img {
  text-shadow: none;
  color: black;
}

.red-card-label-border .suit-img{
  text-shadow: none;
  color: red;
}
